* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: auto;
    overflow: auto;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;  /* Change to column to stack elements vertically */
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.profile-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px; /* Adds spacing between the profile and the carousel */
}

.profile-image {
    width: 250px; /* Slightly larger profile image */
    height: 250px;
    border-radius: 50%;
    border: 4px solid #333;
    margin-bottom: 20px;
}

.intro {
    font-family: cursive;
    font-size: xx-large;

}

.carousel {
    width: 90%; /* Larger width for the carousel */
    overflow: hidden;
    margin: auto;
}

.carousel-cards {
    display: flex;
    transition: transform 0.5s ease;
    flex-direction: row; /* Default setting for larger screens */
}

.card {
    width: 90%; /* Width adjustment for better visibility on small screens */
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    padding: 20px;
    flex: 1; /* Allows text content to fill the space, pushing the image to the bottom */
}

.card-image {
    width: 100%; /* Ensures the image covers the full width of the card */
    height: 100%; /* Increases height to display larger images */
    object-fit: contain; /* Changes from 'cover' to 'contain' to ensure no cropping occurs */
    background-color: #f4f4f4; /* Provides a background color for any empty space */
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.text-section {
    width: 820px; /* Sets the width of the text section */
    margin: 50px auto; /* Centers the section horizontally and adds vertical spacing */
    padding: 15px;
    text-align: center; /* Centers the text inside the div */
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px; /* Sets the font size */
    line-height: 1.6; /* Improves readability by increasing the line height */
    color: #333; /* Sets the text color */
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 15px;
    flex-wrap: wrap; /* Allows cards to wrap in smaller screens */
}

.feature-card {
    text-align: center;
    width: 750px; /* Reduced width for smaller cards */
    padding: 15px;
    box-sizing: border-box;
    margin: 15px; /* Increased margin for more space between cards */
    background-color: whitesmoke; /* White background for the card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Enhanced shadow for a deeper box effect */
    border-radius: 8px; /* Rounded corners for the card */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.feature-card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* Increased shadow on hover for a 3D effect */
}

.feature-card img {
    width: 80px; /* Adjusted icon size for smaller cards */
    height: auto;
    margin-bottom: 10px;
}

.feature-card h3 {
    margin: 10px 0;
    color: #333; /* Dark grey text for heading */
}

.feature-card p {
    color: #666; /* Light grey text for paragraph */
    font-size: 14px; /* Adjusted font size for smaller cards */
}

.footer {
    background-color: whitesmoke; /* Dark background for the footer */
    color: g; /* White text color for visibility */
    text-align: center;
    padding: 20px 10px;
}

.footer-content {
    max-width: 600px; /* Limiting width for better readability */
    margin: 0 auto;
    padding: 20px;
}

.instagram-link {
    display: inline-block;
    color: #000000; /* White text for visibility */
    text-decoration: none;
    font-size: 18px; /* Larger font size for emphasis */
    margin-bottom: 10px;
}

.instagram-link:hover,
.instagram-link:focus {
    color: #F58529; /* Instagram's brand color for hover */
    text-decoration: underline; /* Underline on hover for emphasis */
}

.instagram-icon {
    width: 50px; /* Icon size */
    height: auto;
    vertical-align: middle; /* Aligns icon with text */
    margin-right: 10px;
}

.footer p {
    font-size: 14px; /* Smaller font size for secondary text */
    margin-top: 0;
}

.gallery {
    width: 100%;
    overflow: hidden;
}

.gallery-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Reduced space between items */
    transition: all 0.3s ease; /* Smooth transition for the entire card */
}

.gallery-item img, .gallery-item p {
    flex: 1;
    margin: 5px; /* Reduced margin for a more compact look */
}

.gallery-item img {
    width: 40%; /* Smaller image size */
    height: auto;
}

.gallery-item p {
    padding: 10px; /* Reduced padding */
    text-align: justify;
    background-color: #f8f8f8; /* Light background for the text for better readability */
    border: 1px solid #dddddd; /* Subtle border */
    overflow: hidden; /* Ensures no text spills over */
    transition: flex-grow 0.3s ease; /* Smooth transition for text area expansion */
}

.gallery-item:hover p {
    flex-grow: 2; /* Increases text area size on hover */
    padding: 20px; /* More padding for better readability */
}

.reverse {
    flex-direction: row-reverse; /* Reverses the order of img and p for alternating effect */
}


/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .carousel-cards {
        flex-direction: column; /* Stack cards vertically */
        transform: none; /* Remove any transforms applied */
    }

    .card {
        width: 100%; /* Full width to utilize the screen space */
        margin-bottom: 20px; /* Add more space between cards */
    }

    .carousel-button {
        display: none; /* Hide navigation buttons as they are no longer necessary */
    }
    

    .features {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        padding: 15px;
        flex-wrap: wrap; /* Allows cards to wrap in smaller screens */
    }
    
    .feature-card {
        text-align: center;
        width: 100%; /* Reduced width for smaller cards */
        padding: 15px;
        box-sizing: border-box;
        margin: 15px; /* Increased margin for more space between cards */
        background-color: whitesmoke; /* White background for the card */
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Enhanced shadow for a deeper box effect */
        border-radius: 8px; /* Rounded corners for the card */
        transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
    }
    
    .feature-card:hover {
        box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* Increased shadow on hover for a 3D effect */
    }
    
    .feature-card img {
        width: 80px; /* Adjusted icon size for smaller cards */
        height: auto;
        margin-bottom: 10px;
    }
    
    .feature-card h3 {
        margin: 10px 0;
        color: #333; /* Dark grey text for heading */
    }
    
    .feature-card p {
        color: #666; /* Light grey text for paragraph */
        font-size: 14px; /* Adjusted font size for smaller cards */
    }

    .text-section {
        width: 100%; /* Sets the width of the text section */
        margin: 50px auto; /* Centers the section horizontally and adds vertical spacing */
        text-align: center; /* Centers the text inside the div */
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px; /* Sets the font size */
        line-height: 1.6; /* Improves readability by increasing the line height */
        color: #333; /* Sets the text color */
    }
}