* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: auto;
    overflow: auto;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;  /* Change to column to stack elements vertically */
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.profile-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px; /* Adds spacing between the profile and the carousel */
}

.profile-image {
    width: 250px; /* Slightly larger profile image */
    height: 250px;
    border-radius: 50%;
    border: 4px solid #333;
    margin-bottom: 20px;
}

.intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.featured-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    padding: auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

.hero {
    display: flex;
    width: 90%;  /* Gallery takes 90% of the body width */
    justify-content: space-evenly; /* Distributes space around images evenly */
    align-items: center;
    gap: 20px;
    
}

.hero img {
    width: 100%; /* Reducing image width so all can fit in one row */
    transition: transform 0.2s; /* Smooth transform effect on hover */
}

.hero img:hover {
    transform: scale(1.05); /* Slightly enlarge the images on hover */
}

.text-section {
    width: 820px; /* Sets the width of the text section */
    margin: 50px auto; /* Centers the section horizontally and adds vertical spacing */
    padding: 15px;
    text-align: center; /* Centers the text inside the div */
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px; /* Sets the font size */
    line-height: 1.6; /* Improves readability by increasing the line height */
    color: #333; /* Sets the text color */
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 15px;
    flex-wrap: wrap; /* Allows cards to wrap in smaller screens */
}

.feature-card {
    text-align: center;
    width: 750px; /* Reduced width for smaller cards */
    padding: 15px;
    box-sizing: border-box;
    margin: 15px; /* Increased margin for more space between cards */
    background-color: whitesmoke; /* White background for the card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Enhanced shadow for a deeper box effect */
    border-radius: 8px; /* Rounded corners for the card */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.feature-card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* Increased shadow on hover for a 3D effect */
}

.feature-card img {
    width: 80px; /* Adjusted icon size for smaller cards */
    height: auto;
    margin-bottom: 10px;
}

.feature-card h3 {
    margin: 10px 0;
    color: #333; /* Dark grey text for heading */
}

.feature-card p {
    color: #666; /* Light grey text for paragraph */
    font-size: 18px; /* Adjusted font size for smaller cards */
}

.footer {
    background-color: whitesmoke; /* Dark background for the footer */
    color: black; /* White text color for visibility */
    text-align: center;
    padding: 20px 10px;
}

.footer-content {
    max-width: 600px; /* Limiting width for better readability */
    margin: 0 auto;
    padding: 20px;
}

.instagram-link {
    display: inline-block;
    color: #000000; /* White text for visibility */
    text-decoration: none;
    font-size: 18px; /* Larger font size for emphasis */
    margin-bottom: 10px;
}

.instagram-link:hover,
.instagram-link:focus {
    color: #F58529; /* Instagram's brand color for hover */
    text-decoration: underline; /* Underline on hover for emphasis */
}

.instagram-icon {
    width: 50px; /* Icon size */
    height: auto;
    vertical-align: middle; /* Aligns icon with text */
    margin-right: 10px;
}

.footer p {
    font-size: 14px; /* Smaller font size for secondary text */
    margin-top: 0;
}

.gallery {
    width: 60%;
    overflow: hidden;
}

.gallery-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Reduced space between items */
}

.gallery-item img, .gallery-item p {
    flex: 1;
    margin: 5px; /* Reduced margin for a more compact look */
}

.gallery-item img {
    width: 25%; /* Smaller image size */
    height: auto;
    transition: transform 0.3s ease; /* Smooth transition for hover effects */
}

.gallery-item p {
    padding: 25px; /* Reduced padding */
    text-align: left;
    font-size: 17px;
    line-height: 1.5em;
    background-color: #f8f8f8; /* Light background for the text for better readability */
    border: 1px solid #dddddd; /* Subtle border */
}

.gallery-item:hover img {
    transform: scale(1.05); /* Slight zoom on hover */
}

.reverse {
    flex-direction: row-reverse; /* Reverses the order of img and p for alternating effect */
}

.other-paintings-title {    
    text-align: center;
    padding: auto;
    margin-top: 35px;
    margin-bottom: 20px;
}


.other-paintings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive columns that wrap and fill the space */
    gap: 10px;
    width: 90vw; /* 90% of the viewport width */
    
    padding: 5px;
    box-sizing: border-box;
    overflow: auto; /* Adds scrollbars if content overflows */
}

.other-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff; /* White background for grid items */
    border: 1px solid #ddd; /* Light grey border */
    padding: 10px;
    box-sizing: border-box;
}

.other-paintings img {

    max-width: 100%; /* Allows the image to resize based on its container's size */
    height: auto;
    display: block; /* Removes bottom space/gap below the image */
    transition: transform 0.3s ease;
}

.other-paintings img:hover {
    transform: scale(1.05);
}


/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column; /* Stack cards vertically */
        transform: none; /* Remove any transforms applied */
        width: 100%; /* Full width to utilize the screen space */
        margin-bottom: 20px; /* Add more space between cards */
    }

    .other-item {
        .grid-container {
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust column size for smaller screens */
        }
    }

    .gallery {
        position: relative;
        width: auto;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px; /* Reduced space between items */
    }

    #gallery-id-1 {
        margin: auto;
    }

    .gallery-item {
        display: block;
        align-items: center;
    }

    .gallery-item img {
        width: 100%; /* Smaller image size */
        transition: transform 0.3s ease; /* Smooth transition for hover effects */
        margin: auto;
    }

    .gallery-item p {
        padding: 25px; /* Reduced padding */
        text-align: left;
        font-size: 17px;
        line-height: 1.5em;
        background-color: #f8f8f8; /* Light background for the text for better readability */
        border: 1px solid #dddddd; /* Subtle border */
    }

    .reverse {
        display: block;
        flex-direction: column; /* Reverses the order of img and p for alternating effect */
        align-items: center;
    }

    .features {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        padding: 15px;
        flex-wrap: wrap; /* Allows cards to wrap in smaller screens */
    }
    
    .feature-card {
        text-align: center;
        width: 100%; /* Reduced width for smaller cards */
        padding: 15px;
        box-sizing: border-box;
        margin: 15px; /* Increased margin for more space between cards */
        background-color: whitesmoke; /* White background for the card */
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Enhanced shadow for a deeper box effect */
        border-radius: 8px; /* Rounded corners for the card */
        transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
    }
    
    .feature-card:hover {
        box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* Increased shadow on hover for a 3D effect */
    }
    
    .feature-card img {
        width: 80px; /* Adjusted icon size for smaller cards */
        height: auto;
        margin-bottom: 10px;
    }
    
    .feature-card h3 {
        margin: 10px 0;
        color: #333; /* Dark grey text for heading */
    }
    
    .feature-card p {
        color: #666; /* Light grey text for paragraph */
        font-size: 14px; /* Adjusted font size for smaller cards */
    }

    .text-section {
        width: 100%; /* Sets the width of the text section */
        margin: 50px auto; /* Centers the section horizontally and adds vertical spacing */
        text-align: center; /* Centers the text inside the div */
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px; /* Sets the font size */
        line-height: 1.6; /* Improves readability by increasing the line height */
        color: #333; /* Sets the text color */
    }
}

@media (min-width: 769px) and (max-width: 1366px) {
    .gallery {
        position: relative;
        width: auto;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px; /* Reduced space between items */
    }

    .gallery-item {
        display: block;
        align-items: center;
    }

    .gallery-item img {
        padding: 40px;
        width: 100%; /* Smaller image size */
        transition: transform 0.3s ease; /* Smooth transition for hover effects */
    }

    .gallery-item p {
        padding: 40px; /* Reduced padding */
        width: 100%;
        text-align: left;
        font-size: 17px;
        line-height: 1.5em;
        background-color: #f8f8f8; /* Light background for the text for better readability */
        border: 1px solid #dddddd; /* Subtle border */
    }
}